.menu {
  max-width: 100vw;
  margin: 1rem 2rem 1rem 7rem;
}

.menu-container {
  margin: 1rem 0 2rem 0;
  display: inline-flex;
  /* grid-template-columns: 29vw 29vw 29vw; */
  gap: 1rem;
}

.menu-h1 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
